@font-face {
    src: url("Eskapade-Fraktur-W04-Black.ttf");
}

.root {
    -fx-fascist-dark: #990200;
    -fx-fascist-light: #E66443;
    -fx-fascist-white: #FEFFAC;

    -fx-liberal-dark: #004E6E;
    -fx-liberal-light: #61C8D9;
    -fx-liberal-white: white;
}

.inner-box {
    -fx-border-color: -fx-liberal-dark;
    -fx-border-width: 16;
    -fx-border-insets: -28;
}

.config-screen {
    -fx-pref-height: 200px;
    -fx-padding: 10;
    -fx-background-color: -fx-liberal-light;
    -fx-alignment: top-center;

    -fx-border-width: 20;
    -fx-border-insets: 10;
    -fx-border-color: -fx-liberal-white;
}

.config-screen PlayerField {
    -fx-alignment: center;
    -fx-spacing: 10;
    -fx-padding: 10;
}

.config-screen Label {
    -fx-padding: 5, 10, 5, 10;
    -fx-min-width: 90;
    -fx-border-radius: 5;
    -fx-text-fill: -fx-liberal-dark;
}

.config-screen .text {
    -fx-font-family: "Eskapade Fraktur W04 Black";
    -fx-font-size: 20;
}

.config-screen .title {
    -fx-translate-y: -45;
    -fx-background-color: -fx-liberal-light;
}

.config-screen .title .text {
    -fx-font-size: 28;
}

.config-screen ChoiceBox {
    -fx-background-color: -fx-liberal-dark;
    -fx-mark-color: -fx-liberal-light;
    -fx-min-width: 0;
    -fx-pref-width: 50;

}
.config-screen ChoiceBox .label {
    -fx-text-fill: -fx-liberal-light;
}

.config-screen ChoiceBox .context-menu {
    -fx-background-color: -fx-liberal-dark;
}

.config-screen ChoiceBox .menu-item {
    -fx-mark-color: -fx-liberal-light;
    -fx-pref-width: 46;
}

.config-screen ChoiceBox .arrow-button .arrow {
    -fx-background-color: -fx-liberal-light;
}

.config-screen TextField {
    -fx-background-color: -fx-liberal-dark;
    -fx-border-color: -fx-liberal-white;
    -fx-border-width: 2;
    -fx-text-fill: -fx-liberal-light;
    -fx-font-weight: bold;
}

.config-screen Button {
    -fx-background-color: -fx-liberal-dark;
    -fx-fill: -fx-liberal-light;
    -fx-text-fill: -fx-liberal-light;
}

.config-screen .emptyField TextField {
    -fx-border-color: -fx-fascist-white;
    -fx-background-color: -fx-fascist-dark;
    -fx-text-fill: -fx-fascist-light;
}

.config-screen .emptyField Label {
    -fx-text-fill: -fx-fascist-dark;
}
