@font-face {
    src: url("Eskapade-Fraktur-W04-Black.ttf");
}

.liberal {
    -fx-main-dark: #004E6E;
    -fx-main-light: #61C8D9;
    -fx-main-white: white;

    -fx-alt-dark: #990200;
    -fx-alt-light: #E66443;
    -fx-alt-white: #FEFFAC;
}

.fascist {
    -fx-main-dark: #990200;
    -fx-main-light: #E66443;
    -fx-main-white: #FEFFAC;

    -fx-alt-dark: #004E6E;
    -fx-alt-light: #61C8D9;
    -fx-alt-white: white;
}

.inner-box {
    -fx-border-color: -fx-main-dark;
    -fx-border-width: 16;
    -fx-border-insets: -28;
}

.config-screen, .interface {
    -fx-padding: 10;
    -fx-background-color: -fx-main-light;

    -fx-border-width: 20;
    -fx-border-insets: 10;
    -fx-border-color: -fx-main-white;
}

.config-screen {
    -fx-pref-height: 200;
    -fx-alignment: top-center;
}

.interface {
    -fx-pref-width: 1400;
}

.interface ChoiceBox {
    -fx-pref-width: 100;
}

.interface TextField {
    -fx-pref-width: 130;
}

.interface PlayerView Label {
    -fx-text-fill: -fx-main-dark;
}

.interface PlayerView {
    -fx-alignment: top-center;
}

ChoiceBox {
    -fx-background-color: -fx-main-dark;
    -fx-mark-color: -fx-main-light;
}

ChoiceBox .label {
    -fx-text-fill: -fx-main-light;
    -fx-font-family: "Times New Roman";
}

ChoiceBox .context-menu {
    -fx-background-color: -fx-main-dark;
}

ChoiceBox .menu-item:focused {
    -fx-background-color: derive(-fx-main-dark, 40%);
}

ChoiceBox .arrow-button .arrow {
    -fx-background-color: -fx-main-light;
}

HBox {
    -fx-alignment: center-right;
    -fx-spacing: 10;
}

.role-box {
    -fx-alignment: center-left;
}

.role-box Label {
    -fx-text-fill: -fx-main-dark;
    -fx-font-family: "Times New Roman";
}

.role-box ChoiceBox {
    -fx-pref-width: 100;
}

.role-box ChoiceBox .label {
    -fx-font-family: "Eskapade Fraktur W04 Black";
    -fx-text-fill: -fx-main-light;
}

.config-screen PlayerField {
    -fx-font-family: "Eskapade Fraktur W04 Black";
    -fx-alignment: center;
    -fx-spacing: 10;
    -fx-padding: 10;
}

.config-screen PlayerField Label {
    -fx-padding: 5, 10, 5, 10;
    -fx-min-width: 70;
    -fx-text-fill: -fx-main-dark;
    -fx-font-family: "Times New Roman";
}

.text {
    -fx-font-size: 20;
}

.title {
    -fx-text-fill: -fx-main-dark;
    -fx-alignment: center;
    -fx-border-radius: 5;
    -fx-translate-y: -50;
    -fx-padding: 5;
}

.liberal .title  {
    -fx-background-color: #61C8D9;
}

.fascist .title {
    -fx-background-color: #E66443;
}

.config-screen .title .text {
    -fx-font-size: 35;
    -fx-font-family: "Eskapade Fraktur W04 Black";
}

TextField {
    -fx-background-color: -fx-main-dark;
    -fx-border-color: -fx-main-white;
    -fx-border-width: 2;
    -fx-text-fill: -fx-main-light;
    -fx-font-weight: bold;
}

Button {
    -fx-background-color: -fx-main-dark;
    -fx-fill: -fx-main-light;
    -fx-text-fill: -fx-main-light;
    -fx-font-family: "Eskapade Fraktur W04 Black";
}

ToggleButton {
    -fx-background-color: -fx-main-dark;
    -fx-fill: -fx-main-light;
    -fx-text-fill: -fx-main-light;
    -fx-border-width: 2;
    -fx-border-color: transparent;
}

.config-screen ToggleButton {
    -fx-font-family: "Times New Roman";
    -fx-pref-width: 54;
}

.interface ToggleButton {
    -fx-font-family: "Eskapade Fraktur W04 Black";
    -fx-pref-width: 60;
}

.interface ToggleButton .text {
    -fx-font-family: "Eskapade Fraktur W04 Black";
}

ToggleButton:selected {
    -fx-border-color: -fx-main-white;
}

ToggleButton .text {
    -fx-font-size: 14;
}

.emptyField TextField {
    -fx-border-color: -fx-alt-white;
    -fx-background-color: -fx-alt-dark;
    -fx-text-fill: -fx-alt-light;
}

.emptyField Label {
    -fx-text-fill: -fx-alt-dark;
}

TableView {
    -fx-background-color: transparent;
}

TableView .column-header {
    -fx-background-color: transparent;
}

TableView .filler {
    -fx-background-color: transparent;
}

TableView .column-header-background {
    -fx-background-color: -fx-main-dark;
}

TableView .column-header-background .label {
    -fx-text-fill: -fx-main-light;
    -fx-background-color: transparent;
}

TableView .table-cell {
    -fx-text-fill: -fx-main-dark;
}

TableView .table-row-cell {
    -fx-background-color: -fx-main-light;
    -fx-border-color: -fx-main-dark;
}

TableView .table-row-cell:odd {
    -fx-background-color: derive(-fx-main-light, -10%);
}

TableView .table-column {
    -fx-pref-width: 120;
    -fx-border-color: -fx-main-dark;
    -fx-border-insets: -1;
}

.split-pane-divider {
    -fx-background-color: -fx-main-dark;
    -fx-border-width: 10;
    -fx-border-color: -fx-main-light;
}

FivePlayerGameWindow {
    -fx-background-color: transparent;
}

NewGovPane {
    -fx-spacing: 10;
}

NewGovPane Label {
    -fx-font-family: "Times New Roman";
    -fx-text-fill: -fx-main-dark;
}

GridPane {
    -fx-hgap: 10;
    -fx-vgap: 10;
}

CheckBox {
    -fx-text-fill: -fx-main-dark;
}

CheckBox .box {
    -fx-background-color: -fx-main-dark;
}

CheckBox:selected .mark {
    -fx-background-color: -fx-main-light;
}

.interface PlayerView ChoiceBox {
    -fx-pref-width: 150;
}

.interface PlayerView ChoiceBox .label {
    -fx-font-family: "Eskapade Fraktur W04 Black";
    -fx-alignment: center;
}

.centeredHBox {
    -fx-alignment: center;
}

RightUpperWindow {
    -fx-spacing: 5;
}

SplitPane {
    -fx-background-color: transparent;
}

.titleLabel {
    -fx-font-weight: bold;
    -fx-underline: true;
}