@font-face {
    src: url("../Eskapade-Fraktur-W04-Black.ttf");
}

.liberal {
    -fx-main-dark: #004E6E;
    -fx-main-light: #61C8D9;
    -fx-main-white: white;
}

.liberal .interface {
    -fx-border-image-source: url("../images/border/liberal_border.png");

    -fx-border-image-slice: 79 40 77 40;
    -fx-border-image-width: 79 40 77 40;
    -fx-border-image-repeat: round round;
}

.fascist {
    -fx-main-dark: #990200;
    -fx-main-light: #E66443;
    -fx-main-white: #FEFFAC;
}

.fascist .interface {
    -fx-border-image-source: url("../images/border/fascist_border.png");

    -fx-border-image-slice: 79 40 77 40;
    -fx-border-image-width: 79 40 77 40;
    -fx-border-image-repeat: round round;
}

GameWindow {
    -fx-background-color: -fx-main-light;
    -fx-padding: 5;

    -fx-alignment: top-center;
    -fx-font-size: 20;
}

.interface {
    -fx-padding: -36 4 -35 4;
    -fx-background-color: transparent;

    -fx-pref-width: 60em;
    -fx-min-width: 41em;
}

.title {
     -fx-background-color: -fx-main-light;
     -fx-text-fill: -fx-main-dark;
     -fx-font-family: "Eskapade Fraktur W04 Black";
     -fx-font-size: 1.6em;
     -fx-alignment: center;
     -fx-min-height: 42;
     -fx-padding: 0 0.25em 0 0.25em
 }

.split-pane {
    -fx-background-color: -fx-main-light;
}

.split-pane-divider {
    -fx-background-color: -fx-main-dark;
}

.left {
    -fx-max-width: 25em;
    -fx-pref-width: 23em;
    -fx-min-width: 20em;
}

.gov-stack {
    -fx-pref-height: 15em;
    -fx-min-height: 5em;
}

/*
Government table styling
 */

.gov {
    -fx-padding: 0 0.1em 0.1em 0;
}

.table-view {
    -fx-background-color: transparent;

}

.table-view .column-header {
    -fx-background-color: -fx-main-dark;
}

.table-view .column-header-background .label {
    -fx-text-fill: -fx-main-light;
    -fx-font-family: "Eskapade Fraktur W04 Black";
    -fx-font-size: 0.9em;
    -fx-font-weight: normal;
}

.table-view .table-row-cell {
    -fx-background-color: transparent;
    -fx-table-cell-border-color: -fx-main-dark;
}

.table-view .table-row-cell:odd {
    -fx-background-color: derive(-fx-main-light, -10%);
}

.table-view .table-row-cell:selected {
    -fx-border-color: -fx-main-white;
    -fx-border-width: 0.1em 0 0.1em 0;
    -fx-background-color: derive(-fx-main-light, 30%);
}

.table-view .table-cell {
    -fx-font-size: 0.7em;
    -fx-font-family: "Times New Roman";
    -fx-text-fill: -fx-main-dark;
    -fx-alignment: center;
}

.table-view .table-cell HBox {
    -fx-spacing: 0.1em;
    -fx-alignment: center;
}

.table-view .placeholder .label {
    -fx-text-fill: -fx-main-dark;
    -fx-font-family: "Times New Roman";
}

.table-view .scroll-bar {
    -fx-background-color: transparent;
}

.table-view .scroll-bar .track {
    -fx-background-color: transparent;
}

.table-view .scroll-bar .thumb {
    -fx-background-color: -fx-main-dark;
}

.table-view .increment-button, .table-view .decrement-button {
    -fx-background-color: transparent;
}

.table-view .increment-arrow, .table-view .decrement-arrow {
    -fx-background-color: -fx-main-dark;
}

.table-view .filler, .table-view .column-header-background {
    -fx-background-color: transparent;
}

/*
Government panel styling
 */

CreateGovPane {
    -fx-padding: 0;
    -fx-spacing: 0.25em;
    -fx-border-color: -fx-main-dark transparent transparent transparent;
    -fx-border-width: 0.25em;
}

CreateGovPane Label {
    -fx-underline: true;
    -fx-text-fill: -fx-main-dark;
    -fx-font-size: 1em;
    -fx-font-family: "Eskapade Fraktur W04 Black";
}

CreateGovPane GridPane {
    -fx-vgap: 0.15em;
    -fx-hgap: 0.5em;
}

CreateGovPane GridPane Label {
    -fx-font-size: 0.8em;
    -fx-underline: false;
    -fx-font-family: "Times New Roman";
}

CreateGovPane HBox, CreateGovPane VBox {
    -fx-spacing: 0.1em;
}

CreateGovPane ToggleButton.voteButton {
    -fx-max-width: 58;
    -fx-max-height: 41;
    -fx-min-width: 54;
    -fx-min-height: 41;

    -fx-border-color: transparent;
    -fx-border-width: 0.2em;
    -fx-background-color: transparent;
    -fx-graphic: url("../votes/ballot.cards(ja).png");
}

CreateGovPane ToggleButton.voteButton:selected {
    -fx-graphic: url("../votes/ballot.cards(nein).png");
}

CreateGovPane .choice-box {
    -fx-pref-width: 5em;
    -fx-background-color: -fx-main-dark;
    -fx-mark-color: -fx-main-light;
}

CreateGovPane .choice-box .label {
    -fx-text-fill: -fx-main-light;
    -fx-font-family: "Times New Roman";
    -fx-font-size: 0.7em;
}

CreateGovPane .choice-box .context-menu {
    -fx-background-color: -fx-main-dark;
}

CreateGovPane .choice-box .menu-item:focused {
    -fx-background-color: derive(-fx-main-dark, 40%);
}

CreateGovPane .choice-box .arrow-button .arrow {
    -fx-background-color: -fx-main-light;
}

CreateGovPane .text-field {
    -fx-background-color: -fx-main-dark;
    -fx-border-color: -fx-main-white;
    -fx-border-width: 0.1em;
    -fx-text-fill: -fx-main-light;
    -fx-font-weight: bold;
    -fx-pref-width: 4em;
    -fx-font-size: 0.7em;
}

CreateGovPane .check-box {
    -fx-text-fill: -fx-main-dark;
    -fx-font-family: "Times New Roman";
    -fx-font-size: 0.7em;
}

CreateGovPane .check-box .box {
    -fx-background-color: -fx-main-dark;
}

CreateGovPane .check-box:selected .mark {
    -fx-background-color: -fx-main-light;
}

CreateGovPane .button, CreateGovPane .topDeck {
    -fx-font-family: "Eskapade Fraktur W04 Black";
    -fx-text-fill: -fx-main-light;
    -fx-background-color: -fx-main-dark;
    -fx-font-size: 0.7em;
}

/*
GovPane errors
 */

.createGovPaneTextFieldError {
    -fx-border-color: rgb(176, 131, 11);
}

.createGovPaneBoxError {
    -fx-background-color: rgb(176, 131, 11);
    -fx-text-fill: -fx-main-dark;
}

.createGovPaneBoxError .label {
    -fx-text-fill: -fx-main-dark;
}

.createGovPaneBoxError .context-menu {
    -fx-background-color: rgb(176, 131, 11);
}

/*
Top deck styling
 */

TopDeckWindow {
    -fx-border-width: 1em;
    -fx-border-color: -fx-main-dark transparent -fx-main-dark transparent;
    -fx-border-insets: 6.5em 0 6.5em 0;
}

TopDeckWindow, TopDeckWindow VBox, TopDeckWindow HBox {
    -fx-spacing: 0.5em;
    -fx-alignment: center;
}

TopDeckWindow Label {
    -fx-text-fill: -fx-main-dark;
    -fx-font-family: "Times New Roman";
    -fx-font-size: 1em;
}

TopDeckWindow Button {
    -fx-background-color: -fx-main-dark;
    -fx-text-fill: -fx-main-light;
    -fx-font-family: "Eskapade Fraktur W04 Black";
    -fx-font-size: 1em;
}

TopDeckWindow HBox {
    -fx-padding: 0.25em;
}

/*
PlayerView Styling
 */

PartyView {
    -fx-spacing: 0.5em;
    -fx-alignment: center;
    -fx-padding: 0 0 0.25em 0.25em;
}

PartyView HBox {
    -fx-spacing: 0.5em;
}

PlayerView {
    -fx-alignment: center;
    -fx-spacing: 0.5em;
}

PlayerView Label {
    -fx-font-family: "Times New Roman";
    -fx-font-size: 0.8em;
    -fx-text-fill: -fx-main-dark;
}

PlayerView .choice-box {
    -fx-pref-width: 6em;
    -fx-background-color: -fx-main-dark;
    -fx-mark-color: -fx-main-light;
}

PlayerView .choice-box .label {
    -fx-text-fill: -fx-main-light;
    -fx-font-family: "Eskapade Fraktur W04 Black";
    -fx-font-size: 0.8em;
    -fx-pref-width: 4.5em;
}

PlayerView .choice-box .context-menu {
    -fx-background-color: -fx-main-dark;
}

PlayerView .choice-box .menu-item:focused {
    -fx-background-color: derive(-fx-main-dark, 40%);
}

PlayerView .choice-box .arrow-button .arrow {
    -fx-background-color: -fx-main-light;
}

/*
TabPane Styling
 */

GovView .tab-header-background {
    -fx-background-color: -fx-main-dark;
}

GovView .tab {
    -fx-background-color: derive(-fx-main-light, -20%);
    -fx-border-color: transparent;
    -fx-border-width: 0.1em;
    -fx-background-insets: 0 0.1em -0.1em 1;
}

GovView .tab:selected {
    -fx-background-color: -fx-main-light;
    -fx-background-insets: 0 0.1em -0.2em 0.05em;
    -fx-background-radius: 0.25em;
    -fx-border-color: -fx-main-white -fx-main-white transparent -fx-main-white;
    -fx-border-insets: 0 0.1em -0.2em 0.05em;
    -fx-border-radius: 0.25em;
    -fx-border-width: 0.1em;
}

GovView .tab-label {
    -fx-text-fill: -fx-main-dark;
    -fx-font-family: "Eskapade Fraktur W04 Black";
    -fx-font-size: 1em;
}

BoardPane {
    -fx-min-width: 445;
    -fx-min-height: 300;
}

GovView BoardPane HBox {
    -fx-alignment: bottom-right;
}

GovView BoardPane Button {
    -fx-background-color: -fx-main-dark;
    -fx-text-fill: -fx-main-light;
    -fx-font-size: 0.8em;
    -fx-font-family: "Eskapade Fraktur W04 Black";
}

GovView BoardPane VBox {
    -fx-spacing: 0.5em;
    -fx-alignment: center;
}